<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@illinifurs" />
<meta name="twitter:creator" content="<%= creator %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://illinifurs.com/<%= url %>" />
<meta property='og:title' content='<%= page_title %>' />
<meta property="og:description" content="<%= description %>" />
<% if (image_url) { %>
    <meta property="og:image" content="<%= image_url %>" />    
<% } %>

<title><%= page_title %></title>
<link rel="icon" type="image/png" href="/images/favicon.png" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% if (head_scripts) {
    head_scripts.forEach(function(script) { %>
        <script src="<%= script["src"] ? script["src"] : script %>" <% if (script["integrity"]) { %> integrity="<%= script["integrity"] %>" <% } if ((script["src"] && script["src"].startsWith("http")) || script.startsWith("http")) { %> crossorigin="anonymous" referrerpolicy="no-referrer" <% } %>></script> 
    <% })
} %>

<% if (stylesheets) {
    stylesheets.forEach(function(sheet) { %>
        <link rel="stylesheet" href="<%= sheet["href"] ? sheet["href"] : sheet %>" <% if (sheet["integrity"]) { %> integrity="<%= sheet["integrity"] %>" <% } if ((sheet["href"] && sheet["href"].startsWith("http")) || sheet.startsWith("http")) { %> crossorigin="anonymous" referrerpolicy="no-referrer" <% } %>>
    <% })
} %>
<link rel="stylesheet" href="/css/illinifurs.css">
<link rel="stylesheet" href="/css/DarumaDropOne.css">
<link rel="stylesheet" crossorigin="anonymous" referrerpolicy="no-referrer" href="https://fonts.googleapis.com/css2?family=Fjalla+One">
<link rel="stylesheet" crossorigin="anonymous" referrerpolicy="no-referrer" href="https://fonts.googleapis.com/css2?family=Montserrat">