<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@illinifurs" />
<meta name="twitter:creator" content="<%= creator %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://illinifurs.com/<%= url %>" />
<meta property='og:title' content='<%= page_title %>' />
<meta property="og:description" content="<%= description %>" />
<% if (image_url) { %>
    <meta property="og:image" content="<%= image_url %>" />    
<% } %>

<title><%= page_title %></title>
<link rel="icon" type="image/png" href="/images/favicon.png" />

<% if (head_scripts) {
    head_scripts.forEach(function(script) { %>
        <script src="<%= script %>"></script> 
    <% })
} %>
<script src="/js/illinifurs-nav.js"></script>

<% if (stylesheets) {
    stylesheets.forEach(function(sheet) { %>
        <link rel="stylesheet" href="<%= sheet %>">
    <% })
} %>
<link rel="stylesheet" href="/css/illinifurs.css">
<!--
    /**
    * @license
    * MyFonts Webfont Build ID 452791
    *
    * The fonts listed in this notice are subject to the End User License
    * Agreement(s) entered into by the website owner. All other parties are
    * explicitly restricted from using the Licensed Webfonts(s).
    *
    * You may obtain a valid license from one of MyFonts official sites.
    * http://www.fonts.com
    * http://www.myfonts.com
    * http://www.linotype.com
    *
    */
-->
<link rel="stylesheet" href="/css/Trigot.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fjalla+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
