<!doctype html>

<html lang="en">
<head>
    <% creator = page['author'];
    url = (page['pageid'] == "index" ? "" : page['pageid']) ;
    page_title = page['title'];
    description = page['description'];
    image_url = page['focus_image'];
    head_scripts = page['head_scripts'];
    stylesheets = page['stylesheets'];
    tail_scripts = page['tail_scripts'];
    if (page['fotorama']) {
        fotorama_script = {"src": "https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js", "integrity": "sha512-cWEytOR8S4v/Sd3G5P1Yb7NbYgF1YAUzlg1/XpDuouZVo3FEiMXbeWh4zewcYu/sXYQR5PgYLRbhf18X/0vpRg=="};
        fotorama_css = {"href": "https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.css", "integrity": "sha512-bjwk1c6AQQOi6kaFhKNrqoCNLHpq8PT+I42jY/il3r5Ho/Wd+QUT6Pf3WGZa/BwSdRSIjVGBsPtPPo95gt/SLg=="};

        if (head_scripts) {
            head_scripts.push(fotorama_script)
        } else {
            head_scripts = [fotorama_script]
        }

        if (stylesheets) {
            stylesheets.push(fotorama_css)
        } else {
            stylesheets = [fotorama_css]
        }
    }
    if (page['widgets']) {
        if (tail_scripts) {
            tail_scripts.push("https://platform.twitter.com/widgets.js")
        } else {
            tail_scripts = ["https://platform.twitter.com/widgets.js"]
        }
    } %>

    <%- include('../partials/head', {creator: creator, url: url, page_title: page_title, description: description, image_url: image_url, head_scripts: head_scripts, stylesheets: stylesheets}) %>
</head>

<% function leftGutter(widgets) {
    if (widgets) { %>
        <iframe class="telegram-channel" src="https://xn--r1a.website/s/IFannouncement"></iframe>&nbsp;
    <% } else { %>
        &nbsp;
    <% }
} %>

<% function rightGutter(widgets) {
    if (widgets) { %>
        <a class="twitter-timeline" data-theme="dark" data-height="720" style="margin-top: 3ex;" href="https://twitter.com/IlliniFurs">Tweets by IlliniFurs</a>
    <% } else { %>
        &nbsp;
    <% }
} %>

<body>
    <%- include('../partials/header') %>

    <div class="column left-gutter">
        <%= leftGutter(page['widgets']) %>
    </div>
    <div class="column middle">
        <h1>
            <%= page['title'].toUpperCase() %>
        </h1>
        
        <div class="body-text">
            <%- include('../partials/fotorama', {fotorama_images: fotorama_images}) %>
            <%- include('../compiled/' + page['directory'] + '/' + page['pageid'], {officers: officers, events: events}) %>
        </div>
    </div>
    
    <div class="column left-phone-gutter">
        <%= leftGutter(page['widgets']) %>
    </div>
    <div class="column right-gutter">
        <%= rightGutter(page['widgets']) %>
    </div>

    <%- include('../partials/tail', {tail_scripts: tail_scripts}) %>
</body>
</html>