<!doctype html>

<html lang="en">
<head>
    <% creator = page['author'];
    url = (page['pageid'] == "index" ? "" : page['pageid']) ;
    page_title = page['title'];
    description = page['description'];
    image_url = page['focus_image'];
    head_scripts = null;
    stylesheets = null;
    tail_scripts = null; %>

    <%- include('../partials/head', {creator: creator, url: url, page_title: page_title, description: description, image_url: image_url, head_scripts: head_scripts, stylesheets: stylesheets}) %>
</head>

<body>
    <%- include('../partials/header') %>

    <div class="column left-gutter">
        &nbsp;
    </div>
    <div class="column middle">
        <h1>
            <%= page['title'].toUpperCase() %>
        </h1>
        
        <div class="body-text">
            <%- include('../compiled/' + page['directory'] + '/' + page['pageid']) %>
        </div>
    </div>
    <div class="column right-gutter">
        &nbsp;
    </div>

    <% if (tail_scripts) {
        tail_scripts.forEach(function(script) { %>
            <script src="/js<%= script %>"></script> 
        <% }) %>
    <% } %>
</body>
</html>